<table class="expheader" cellspacing="0" cellpadding="0" border="0">
  <tbody>
    <tr>
      <td class="corners_light" colspan="2">
        <span class="one"></span>
        <span class="two"></span>
      </td>
    </tr>   
     <tr class="corners_light">
       <td class="exptitle"> <%= text %> </td>
     </tr>
    <tr>
      <td class="corners_light" colspan="2">
        <span class="two"></span>
        <span class="one"></span>
      </td>
    </tr>      
  </tbody>
</table>